<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>cliff</display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <context-param>
    <param-name></param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         c:\apache-tomcat-8.5.37\webapps\data\
      </param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
    <init-param>
      <param-name></param-name>
      <param-value>CLiff Co Employee</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/EmployeeLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.servlet.WelcomeServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserInfoServlet</display-name>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <servlet-class>com.servlet.GetUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <url-pattern>/GetUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCurrentUser</display-name>
    <servlet-name>GetCurrentUser</servlet-name>
    <servlet-class>com.servlet.GetCurrentUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCurrentUser</servlet-name>
    <url-pattern>/GetCurrentUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadsServlet</display-name>
    <servlet-name>FileUploadsServlet</servlet-name>
    <servlet-class>com.cliff.uploads.FileUploadsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadsServlet</servlet-name>
    <url-pattern>/FileUploadsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.revature.cliff.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerLogin</display-name>
    <servlet-name>ManagerLogin</servlet-name>
    <servlet-class>com.cliff.manager.login.ManagerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLogin</servlet-name>
    <url-pattern>/ManagerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllEmployees</display-name>
    <servlet-name>GetAllEmployees</servlet-name>
    <servlet-class>com.cliff.manager.servlets.GetAllEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllEmployees</servlet-name>
    <url-pattern>/GetAllEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetManagerInfo</display-name>
    <servlet-name>GetManagerInfo</servlet-name>
    <servlet-class>com.cliff.manager.servlets.GetManagerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetManagerInfo</servlet-name>
    <url-pattern>/GetManagerInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementStatusUpdateServlet</display-name>
    <servlet-name>ReimbursementStatusUpdateServlet</servlet-name>
    <servlet-class>com.cliff.manager.servlets.ReimbursementStatusUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementStatusUpdateServlet</servlet-name>
    <url-pattern>/ReimbursementStatusUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetManagersNameServlet</display-name>
    <servlet-name>GetManagersNameServlet</servlet-name>
    <servlet-class>com.cliff.manager.servlets.GetManagersNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetManagersNameServlet</servlet-name>
    <url-pattern>/GetManagersNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStatus</display-name>
    <servlet-name>GetStatus</servlet-name>
    <servlet-class>com.cliff.manager.servlets.GetStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStatus</servlet-name>
    <url-pattern>/GetStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeByNameServlet</display-name>
    <servlet-name>GetEmployeeByNameServlet</servlet-name>
    <servlet-class>com.cliff.manager.servlets.GetEmployeeByNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeByNameServlet</servlet-name>
    <url-pattern>/GetEmployeeByName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendReimbursementStatusEmailServlet</display-name>
    <servlet-name>SendReimbursementStatusEmailServlet</servlet-name>
    <servlet-class>com.cliff.manager.servlets.SendReimbursementStatusEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendReimbursementStatusEmailServlet</servlet-name>
    <url-pattern>/SendReimbursementStatusEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnEmployeeJSONData</display-name>
    <servlet-name>ReturnEmployeeJSONData</servlet-name>
    <servlet-class>com.cliff.manager.servlets.ReturnEmployeeJSONData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnEmployeeJSONData</servlet-name>
    <url-pattern>/ReturnEmployeeJSONData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeFirstNameServlet</display-name>
    <servlet-name>UpdateEmployeeFirstNameServlet</servlet-name>
    <servlet-class>com.servlet.UpdateEmployeeFirstNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeFirstNameServlet</servlet-name>
    <url-pattern>/UpdateEmployeeFirstNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnToUserServlet</display-name>
    <servlet-name>ReturnToUserServlet</servlet-name>
    <servlet-class>com.servlet.ReturnToUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnToUserServlet</servlet-name>
    <url-pattern>/EmployeePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReimbursementServlet</display-name>
    <servlet-name>AddReimbursementServlet</servlet-name>
    <servlet-class>com.servlet.AddReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReimbursementServlet</servlet-name>
    <url-pattern>/AddReimbursement</url-pattern>
  </servlet-mapping>
</web-app>